<a href="https://colab.research.google.com/github/AZICO/AZICO.github.io/blob/master/Azamat_Jalilov_M4_LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [48]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [49]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [50]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [51]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [52]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [53]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [54]:
# Checking the dataset
df.sample(5)

        Burrito        Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
365       Other   7/22/2017   NaN     NaN  ...     NaN   NaN       NaN   True
386  California    1/2/2018   NaN     NaN  ...     NaN   NaN       NaN  False
379       Other    9/4/2017   NaN     NaN  ...     NaN   NaN       NaN   True
256  California  10/17/2016   NaN     NaN  ...     NaN   NaN       NaN  False
76        Other   4/24/2016   NaN     NaN  ...     NaN   NaN       NaN  False

[5 rows x 59 columns]

In [55]:
# Checking for missing values
df.isnull().sum()

Burrito             0
Date                0
Yelp              334
Google            334
Chips             395
Cost                7
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             2
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Queso             421
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
dtype: int64

In [56]:
# Checking the shape of the df
df.shape

(421, 59)

In [57]:
#  Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
#  Begin with baselines for classification.
#  Use scikit-learn for logistic regression.
#  Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
#  Get your model's test accuracy. (One time, at the end.)
#  Commit your notebook to your fork of the GitHub repo.

In [58]:
# Transforming date format
df['Date'] = pd.to_datetime(df['Date'])

In [59]:
# Improting sklearn library for tran test split
from sklearn.model_selection import train_test_split

train = df[df['Date'] <= '2016-12-31']
val = df[(df['Date'] >= '2017-01-01') & (df['Date'] <= '2017-12-31')]
test = df[df['Date'] >= '2018-01-01']

train.shape, val.shape, test.shape

((298, 59), (85, 59), (38, 59))

In [62]:
# Guessing for majority class
target = 'Great' 
y_train = train[target]
y_train.value_counts(normalize=True)

False    0.590604
True     0.409396
Name: Great, dtype: float64

In [63]:
# Baseline
majority_class = y_train.mode()[0]
y_pred = [majority_class] * len(y_train)

In [64]:
# Calculating accuracy score using sklearn
from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_pred)

0.5906040268456376

In [65]:
# Guessing based on majority class
y_val = val[target]
y_pred = [majority_class] * len(y_val)
accuracy_score(y_val, y_pred)

0.5529411764705883

In [66]:
# 1. Importing estimoator calss
from sklearn.linear_model import LinearRegression

# 2. Initiating this class
linear_reg = LinearRegression()

# 3. Arranging X feature matrices 

features = ['Cost', 'Hunger', 'Meat', 'Salsa', 'Synergy', 'Wrap']
X_train = train[features]
X_val = val[features]

# Impute missing values before fitting the model
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)

# 4. Fitting the model
linear_reg.fit(X_train_imputed, y_train)

# 5. Applying the model
linear_reg.predict(X_val_imputed)

array([ 0.39011782,  0.52082703,  0.78452859,  0.64162196, -0.14470536,
        0.36264206,  0.72719477,  0.60274219, -0.10399633,  0.75296471,
        0.76732421, -0.28877183,  0.34195446,  0.41787926,  0.96380467,
        0.58868267,  0.5089174 ,  0.67033674,  0.68925068,  1.00847303,
        0.51649771,  0.58757715,  0.1829944 ,  0.6354777 ,  0.61565358,
        0.70655733,  0.88678317,  0.40364794,  0.57206965,  0.77263398,
        0.70351553,  0.5517074 ,  0.45962293,  0.44898372,  0.47441596,
        0.51793113,  0.35454808,  0.50476929,  0.33706508,  0.38811043,
        0.46863553,  0.62445643,  0.4190913 ,  0.42250426,  0.65420083,
        0.55641354,  0.0810613 ,  0.04201688,  0.46057584, -0.21224137,
        0.38873567,  0.46725747,  0.92075883,  0.83162463,  0.58878606,
        0.12865367,  0.4637028 ,  0.16208006,  0.32585408,  0.41392717,
       -0.30502522,  0.40201205, -0.24239275,  0.45351278,  0.36002161,
        0.86004317,  0.39170211,  0.83907885,  0.80778989,  0.12126609,
        1.24319167,  0.78787826,  0.55956807,  0.62586503,  0.05635333,
        0.46219529,  0.29464665,  0.6179422 ,  0.86331518,  0.80665393,
        0.53005675,  0.59780111,  0.67740933,  0.72428146,  1.08445933])

In [67]:
# Logistic Regression

from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(solver='lbfgs')
log_reg.fit(X_train_imputed, y_train)
print('Validation Accuracy', log_reg.score(X_val_imputed, y_val))

Validation Accuracy 0.788235294117647

In [68]:
train.head()

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California 2016-01-18   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California 2016-01-24   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas 2016-01-24   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada 2016-01-24   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California 2016-01-27   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]